.reveal-modal-bg {
  display: none;
}

.reveal-modal{

  .edit.admin_document_sets &, .edit.admin_documents & {
    //position: fixed;
    //top: 3rem !important;
  }

  .error {
    border: none;
    color: #b33c33;
  }
}
