javascript:
  $(function(){
    var updateTabTitles = function() {
      var tab = $(".documents-tab.ui-tabs-anchor");
      var count = tab.data('document_count');
      tab.text("Documents (" + count + ")");

      var tab = $(".questions-tab.ui-tabs-anchor");
      var count = tab.data('question_count');
      tab.text("Questions (" + count + ")");

      var tab = $(".subscribers-tab.ui-tabs-anchor");
      var count = tab.data("subscriber_count");
      tab.text("Subscribers (" + count + ")");
    };

    setTimeout(updateTabTitles, 0);
  });

  function updateDocSetState(id) {
    $.get('/api/v1/docset/'+id+'/state', function (data) {
      $(".status_tag").html(data);
    })
  }
